/* .MuiBox-root {
  height: 100vh;
} */

/* .MuiPaper-root {
  background-color: #263238 !important;
} */

.att-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  /* justify-content: center; */
  align-items: center;
  /* margin-left: auto; */
  /* margin: auto; */
  width: auto;
}

.student-options-container {
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.report-container {
  border: 2px solid #000;
  padding: 4%;
  border-radius: 10px;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 60%;
}

.report-container .report-text {
  flex: 1;
  display: flex;
  min-height: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid #000;
}

.report-container .report-graph .text-container {
  margin: 15px auto;
  width: 50%;
}

.report-container .report-graph .chart {
  margin: 15px auto;
  width: 50%;
}

.report-container .report-text .text-container {
  margin: 12px;
}

.report-container .report-text .text-container .header {
  font-size: 21px;
  font-weight: bolder;
  display: inline;
}

.no-text-container .header {
  padding-left: 20%;
  font-size: 15px;
  font-weight: bolder;
  display: inline;
}

.color-box {
  margin-left: 5%;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0.5px solid #000;
}

.present {
  background-color: #16ce2f;
}

.absent {
  background-color: #ec3a3a;
}

.report-container .report-text .text-container .normal {
  font-size: 17px;
  display: inline;
}

.report-container .report-graph {
  flex: 1;
}
