.section-details {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: fit-content;
}

.section-details-elem {
  width: fit-content;
  padding: 0px 1rem;
  font-size: 1rem;
  color: #4e4b4b;
}
.section-details-bold {
  display: inline;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.back-grey {
  background-color: #e0e0e0 !important;
  border-radius: 5px !important;
}

.navigator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-nav,
.right-nav {
  margin: 0.5rem;
}

.right-nav Button {
  margin: 0px 0px 0px 0.5rem;
}

.pagination {
  font-size: 15px;
  font-weight: bolder;
}

.page-head {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.page3-content {
  min-width: 90%;
}
